@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.main { display: flex; width: 100%; height: 100vh; }
.main__left { flex: 0.8; display: flex; flex-direction: column; }
.main__right { 
    flex: 0.2; 
    display: flex; 
    flex-direction: column; 
    background-color: #242324; 
    border-left: 1px solid #3D3D3D; 
}

.main__videos {
    flex-grow: 1;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

video {
    height: 300px; width: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #242324; 
}

/* CONTROLS */
.main__controls {
    background-color: #1C1E20; color: #D2D2D2;
    display: flex; justify-content: space-between; padding: 10px;
}
.main__controls__block { display: flex; }
.main__controls__button {
    display: flex; flex-direction: column; justify-content: center;
    align-items: center; padding: 10px 20px; min-width: 80px;
    cursor: pointer; border-radius: 5px;
}
.main__controls__button:hover { background-color: #343434; }
.main__controls__button i { font-size: 24px; margin-bottom: 5px; }

.leave_meeting { color: #EB534B; font-weight: bold; }
.unmute, .stop { color: #EB534B; } 

/* CHAT */
.main__header { padding: 15px; color: #F5F5F5; text-align: center; border-bottom: 1px solid #3D3D3D; }
.main__chat_window { flex-grow: 1; overflow-y: auto; padding: 20px; }
.messages { list-style: none; color: white; }
.messages li { margin-bottom: 10px; word-wrap: break-word;}
.main__message_container { padding: 20px; display: flex; }
.main__message_container input {
    flex-grow: 1; background-color: transparent; border: none;
    color: #F5F5F5; border-bottom: 1px solid #3D3D3D; 
    padding: 10px; outline: none;
}